.Navbar {
  background-color: #007bff;
  padding: 10px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-trigger {
  color: #ffffff;
  border-left: 30px;
}

.overlay-trigger { 
  color: #ffffff;


}

.menu-items a {
  color: #fff; 
  text-decoration: none; 
  margin-right: 20px;
}

.menu-languages {
  position: relative;
}

.menu-languages h6 {
  color: #fff; 
  cursor: pointer;
}

.menu-languages ul {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #007bff;
  padding: 10px;
  list-style-type: none; 
  display: none;
}

.menu-languages ul li {
  margin-bottom: 5px; 
}

.menu-languages ul li a {
  color: #fff;
  text-decoration: none; 
}
